.logo
{
	height: 50px;
}

header
{
	background-color: maroon;
	max-height: 60px;
	border-bottom: 3px red solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer 
{
	text-align: center;
	border-top: 3px red solid;
}

h1
{
	text-align: center;
	color: red;
	font-weight: bold;
	background-color: silver;
	margin-top: 40px;
	margin-bottom: 60px;
}

.sectionprésentation
{
	border: 4px black double;
	margin: 20px 10px 20px 10px;
}

.présentation
{
	margin: 10px 5px 10px 5px;
}

a
{
	color: grey;
}

.pageindex , .pageinscription
{
	text-align: center;
}


/* 
	ajouter les medias queries pour le responsive 
	par ex -> @media screen and (max-width: 1280px)
		{ propriétés css; }
*/